@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&family=Varela+Round&display=swap');

body{
    position: relative;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    overflow-x: hidden;
    margin: 0;
}

/* navigation bar */
.header{
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 0.7rem; 
    box-sizing: border-box;
    padding: 0 0.65rem;
    background: rgba(96, 116, 226, 0.8);
    backdrop-filter: blur(4px);
    display:flex;   
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logobig{
    width: 1.56rem;
    height: 0.68rem;
}

.nav-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links a{
    width: 1.7rem;
    height: 0.32rem;
    color: #FFF5CE;
    font-family: 'Nunito', sans-serif;
    font-size: 0.22rem;
    text-align: center;
    text-decoration: none;
}
.nav-links a:hover{
    color: #FFE274;
    font-weight: 600;
}
.nav-item{
    display: flex;
}
.nav-icon{
    display: flex;
    padding: 0.28em;
    width: 0.31rem;
}


/* progress bar */
.top{
    z-index: 900;
    padding-top: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
}
.progress{
    font-family: 'Nunito', sans-serif;
    color: #606060;
    font-size: 0.18rem;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    /* margin-left: 0.52rem;    */
    align-content: center;
}

.dot-circle{
    z-index: 100;
    display: flex;
    flex-direction: row;
    width: 11rem;
    justify-content: space-between;
}
.task-done{
    box-sizing: border-box;
    padding: 0.1rem 0.3rem;
    border-radius: 50px;
    border: .02rem solid #FFD433;
    background: #FFD433;
    cursor: pointer;
    text-decoration: none;
    color: #606060;

}
.task-undone{
    box-sizing: border-box;
    padding: 0.1rem 0.3rem;
    border-radius: 50px;
    border: .02rem solid #FFD433;
    background: #ffffff;
    cursor: pointer;
    text-decoration: none;
    color: #606060;

}
.hr{
    margin-top: -.35rem;
    position: relative;
    display: flex;
    flex-direction: row;
}
.hr-solid{
    width: 10.8rem;
    border-top: 0.06rem solid #FFD433;
    /* border-radius: 10px; */
    position: relative;
}



/* build roll numbers content */
.build{
    z-index: 0;
    /* width: 100%; */
    height: 8rem;
    /* background-color: #8393EC; */
    position: relative;
    display: flex;
    margin-top: -1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}
.roll-gif{
    width: 3.64rem;
    height: 2.80rem;
    margin-top: -0.3rem;
}

.build a{
    width: 1.68rem;
    height: 0.78rem; 
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 0.28rem;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 1rem;
    border: none;
    background: #FFD433;
    margin: 0.2rem 1.5rem 0 auto;
    text-align: center;
    text-decoration: none;
    line-height: 0.78rem;
}

h1{
    font-family: 'Nunito', sans-serif;
    color: #383838;
    font-size: 0.3rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-top: -0.4rem;
    margin-bottom: 0.3rem;
}
.selection{
    display: flex;
    flex-direction: row;
    width: 8.88rem;
    justify-content: space-between;
}
.roll-selection-box{
    box-sizing: border-box;
    border: 5px solid #FFE274;
    border-radius: 0.15rem;
    background: #FFFFFF;
    width: 1.5rem;
    height: 1.5rem;
    flex: 0 50% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.roll-box{
    display: flex;
    width: 80%;
    /* width: .96rem;
    height: .81rem; */
}
.individual-selection p{
    font-family: 'Nunito', sans-serif;
    color: #383838;
    font-size: 0.18rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-top: 0.1rem;
}

.roll-selection-box--selected{
    background-color: #FFE274;
}


/* footer */

.page-footer{
    background-color: #A7B2F1;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */

    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #383838;
    text-decoration: none;
}
.footer{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-left{
    display: flex;
    flex-direction: row;
}
.footer-right{
    display: flex;
    flex-direction: row;
}
.shop-icon{
    width: 250px;
    height: 200px;
    position: relative;
    display: flex;
    align-self: center;
}
.footer-about{
    flex-direction: column;
    display: flex;
    margin-left: 0.86rem;
}
.footer-about img{
    width: 214px;
    margin-bottom: 0.23rem;
}
.footer-about a{
    text-decoration: none;
    color: #383838;
    display: flex;
}
.location{
    display: flex;
    flex-direction: column;
}
.location p{
    line-height: 32px;
}
.location img{
    width: 176px;
    height: 126px;
}
.operation {
    display: flex;
    flex-direction: column;
    margin-left: 0.44rem;
}
.operation p{
    margin: 5px 0 5px 0;
}
.delivery-alert{
    color: #FFE892;
    top: 0;
}
.operation-hours{
    font-size: 24px;

}
.hours{
    margin-bottom: 0;
}
