
body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: navy;
}

.container{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#animal-img {
    border: 1px solid gray;
    border-radius: 10px;
}